weaviate-client
sentence-transformers
scikit-learn
python-dotenv
semantic-chunkers
underthesea
semantic-router
elasticsearch==8.13.0
python-json-logger
minio
pika
asyncio
langchain
langchain-community
pypdf
PyMuPDF
python-docx
textract==1.6.3